*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: rgb(223, 141, 141);
    text-align: center;
}
.intro{
    font-weight: bold;
    margin: 30px 0;
}
h1{
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: -1px 0 rgb(133, 0, 0), 0 1px rgb(133, 0, 0), 1px 0 rgb(133, 0, 0), 0 1px rgb(133, 0, 0);
}
p{
    font-weight: 600;
}
#first{
    margin-top: 10px;
    color: rgb(243, 169, 169);
}
#second{
    margin-top: 5px;
    color: rgb(196, 160, 160);
}
#third{
    margin-top: 5px; 
    color: rgb(194, 88, 88);
}
#enter{
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
    color: white;
    border: none;
    background-color: rgb(168, 63, 63);
}
#enter:hover{
    opacity: 0.8;
    transition: 0.5s;
}
#user-input{
    padding: 5px;
    min-width: 60%;
    border-radius: 3px;
    color: white;
    border: none;
    background-color: rgb(168, 63, 63);
}
#user-input::placeholder{
    color: rgba(255, 255, 255, 0.815);
    padding: 5px;
}
#user-input:hover{
    opacity: 0.9;
    transition: 0.5s;
    cursor: pointer;
}
ul{
    text-align: left;
    margin-top: 20px;
}
li{
    list-style: none;
    padding: 10px 20px;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: rgb(189, 79, 79);
    color: rgba(252, 249, 249, 0.89);
}
li:hover{
    background-color: rgb(168, 63, 63);
}
li > button{
    font-weight: normal;
    background: none;
    border: none;
    float: right;
}
.done{
    background-color: rgb(49, 100, 49) !important;
}
.delete{
    display: none;
}
.delete-btn{
    color: white;
}
.delete-btn:hover{
    color: rgba(48, 46, 46, 0.884);
}
.reset{
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
    color: white;
    display: none;
    border: none;
    background-color: rgb(168, 63, 63);
}
.reset:hover{
    opacity: 0.8;
    transition: 0.5s;
}
